.one > p::first-letter{
	color:red;
	font-size:30px;
	
}
.three p::first-line{
	background-color: green;
	font-size:30px;
	color:#fff;
	
}
::marker{
	color:red;
	font-size:25px;
}
.four ::selection{
	background-color: blue;
	color:#fff;
}