body{
    background-color: #000;
}
.cube_container{
    position: relative;
    margin:10% 0 0 40%; 
}
.cube{
    width: 200px;
    height: 200px;
    position: absolute;
}
.cube_top{
    background: url('images/1.webp') no-repeat center center / cover;
    transform: rotate(-44deg) skew(15deg, 15deg);
}
.cube_left{
    background: url('images/img1.jpg') no-repeat center center / cover;
    transform: translate(-44%, 75%) rotate(14deg) skew(15deg, 15deg);
}
.cube_right{
    background: url('images/img.jpg') no-repeat center center / cover;
    transform: translate(44%, 77%) rotate(-15deg) skew(-15deg, -15deg);
}